/bower_components
/node_modules
/dist
/dist2
/factory_guy_presents
/factory_guy_presentation
/stats
/tmp
/tests
.bowerrc
.editorconfig
.watchmanconfig
.ember-cli
.idea/*
.travis.yml
ember-cli-build.js
testem.js
bower.json

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/bower.json
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/testem.js
/tests/
/yarn.lock
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
